@model Project_LMS.Models.MoveCourseViewModel

@{ViewBag.Title = "Move course";}

@using (Html.BeginForm("MoveCourse", "TeacherCourses", new { id = Model.Course.CourseId }))
{

    @Html.AntiForgeryToken()

    <h2 style="text-align-last:center">Move course</h2>
    <p style="text-align-last:center; font-size:smaller">Moving a course will also move all included modules their activities</p>
    <hr />

    <div class="row">
        <h4 style="color:red; text-align-last:center; padding:0px">@Model.Course.CourseName&nbsp;@Model.Course.StartDate.ToString("yyyy-MM-dd")&nbsp;-&nbsp;@Model.Course.EndDate.ToString("yyyy-MM-dd")</h4>
        <hr />
        <div class="form-horizontal col-md-offset-1 col-md-11">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h4 style="color:indianred"> @ViewBag.DateNotValidMessage </h4>
            @Html.HiddenFor(model => model.Course.CourseId)

            <div class="form-group col-md-11">
                <div class="col-md-4" style="text-align-last:right"><strong>Description</strong></div>
                <div class="col-md-7">
                    @Html.DisplayFor(model => model.Course.CourseDescription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <hr />

        <div class="form-group col-md-12">
            <div class="col-md-4" style="text-align-last:right">
                @Html.LabelFor(model => model.NewDate, htmlAttributes: new { @class = "control-label" })
            </div>
            <div>
                @Html.EditorFor(model => model.NewDate, new { htmlAttributes = new { @class = "form-control col-md-7" } })
            </div>
            <div class="col-md-1" style="align-self:flex-end">
                <input type="submit" value="Move" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
