@model IEnumerable<Project_LMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>List of Courses</h2>

<p>
    @Html.ActionLink("Add Course", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }) |
            @Html.ActionLink("Add Modules", "AddModule", "Modules",null, new { id = item.CourseId })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Show Undergoing Courses", "ShowUndergoingCourses", null, new { @class = "btn btn-danger btn-large" })
    @Html.ActionLink("Show Expired Courses", "ShowExpiredCourses", null, new { @class = "btn btn-danger btn-large" })
</p>
