@model IEnumerable<Project_LMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>List of Courses</h2>


<p>
    @Html.ActionLink("Add A New Course", "Create", new { id = ViewBag.Id }, new { @class = "btn btn-primary btn-large" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            <a href="@Url.Action("Edit", "TeacherCourses", new { id = item.CourseId })" class="btn btn-primary">
                <i class="glyphicon glyphicon-edit"></i>
                <span>
                    <strong>Edit</strong>
                </span>
            </a>
            <a href="@Url.Action("Details", "TeacherCourses", new { id = item.CourseId })" class="btn btn-info">
                <i class="glyphicon glyphicon-list"></i>
                <span>
                    <strong>Details</strong>
                </span>
            </a>
            <a href="@Url.Action("Delete", "TeacherCourses", new { id = item.CourseId, isVerified = false })" class="btn btn-danger">
                <i class="glyphicon glyphicon-erase"></i>
                <span>
                    <strong>Delete</strong>
                </span>
            </a>

            <a href="@Url.Action("Schedule", "TeacherCourses", new { id = item.CourseId })" class="btn btn-success">
                <i class="glyphicon glyphicon-list-alt"></i>
                <span>
                    <strong>Schedule</strong>
                </span>
            </a>

        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Show Undergoing Courses", "ShowUndergoingCourses", null, new { @class = "btn btn-primary btn-large" })
    @Html.ActionLink("Show Expired Courses", "ShowExpiredCourses", null, new { @class = "btn btn-primary btn-large" })
</p>
