@using Project_LMS.Models
@model Project_LMS.Models.ScheduleHeadViewModels

@{ ViewBag.Title = "Schedule"; }
<h3 style="color:crimson">Premilary Schedule  <b>@Html.DisplayFor(model => model.CourseName)</b></h3>

@Html.ActionLink("Create as PDF", "PrintAllReport", new { id = Model.CourseId, courseName = Model.CourseName }, new { @class = "btn btn-info btn-large" })
@Html.ActionLink("Back to Course list", "Index", "TeacherCourses", new { id = Model.CourseId }, new { @class = "btn btn-primary btn-large" })
<p>
    <br />
</p>
<div class="schedulecontainer scrollable">
    <table class="mySchedule">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ViewModels.Date)</th>
                <th>@Html.DisplayNameFor(model => model.ViewModels.Day)</th>
                <th>@Html.DisplayNameFor(model => model.ViewModels.Modul)</th>
                <th>@Html.DisplayNameFor(model => model.ViewModels.AM)</th>
                <th>@Html.DisplayNameFor(model => model.ViewModels.PM)</th>
                <th>@Html.DisplayNameFor(model => model.ViewModels.Extern)</th>
            </tr>
        </thead>

        @foreach (var item in Model.myList)
        {
            <tbody>
                <tr style="background-color:@item.bgColor;">
                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                    <td>@Html.DisplayFor(modelItem => item.Day)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modul)

                        @{
                            if (item.ErrModul.Count > 0)
                            {
                                foreach (var err in item.ErrModul)
                                {
                                    <br /><b style="color:red">
                                        @Html.DisplayFor(modelItem => err)
                                    </b>
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AM)
                        @{
                            if (item.ErrAM.Count > 0)
                            {
                                foreach (var err in item.ErrAM)
                                {
                                    <br /><b style="color:red">
                                        @Html.DisplayFor(modelItem => err)
                                    </b>
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PM)
                        @{
                            if (item.ErrPM.Count > 0)
                            {
                                foreach (var err in item.ErrPM)
                                {
                                    <br /><b style="color:red">
                                        @Html.DisplayFor(modelItem => err)
                                    </b>
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Extern)
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

<br />
<p>

</p>
