@using Project_LMS.Models
@model IEnumerable<Project_LMS.Models.ScheduleViewModels>

@{
    ViewBag.Title = "Schedule";
}

<h4>
    Premilary Schedule @*@Html.DisplayFor(model => model.CourseName)*@
</h4>

<table class="Mytable table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extern)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extern)
        </td>

    </tr>
    }

</table>

<p>
    @*@Html.ActionLink("Back to Course list", "Index", "TeacherCourses", new { id = Model.CourseId }, new { @class = "btn btn-primary btn-large" })*@
</p>
