@model Project_LMS.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentRef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DocumentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
