@model IEnumerable<Project_LMS.Models.Document>

<p>
    @Html.ActionLink("Upload Module Document", "CreateModuleDocument", new { id = ViewBag.Id }, new { @class = "btn btn-danger btn-large" })
</p>

<table class="table table-bordered">
    <tr>
        <th class="col-md-4">
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>

        <th class="col-md-2"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>

            <td>
                @Html.ActionLink("Download", "DownLoadFile", new { id = item.DocumentId })  |
                @Html.ActionLink("Details", "ModuleDocumentDetails", new { id = item.DocumentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DocumentId })
            </td>
        </tr>
    }

</table>



