@model Project_LMS.Models.ApplicationUser

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">


                    @if (Model.ProfileImageRef != null || Model.ProfileImageRef != "")
                    {
                        <img alt="" src="~/Pictures/@Model.ProfileImageRef" data-radium="true" style="width: 32px; height: 32px; border-radius: 50%">
                    }
                    else
                    {
                        <img alt="" src="~/Pictures/defaultImage.png" data-radium="true" style="width: 32px; height: 32px; border-radius: 50%">
                    }

                    @if (Model.GivenName != "" || Model.GivenName != null)
                    {
                        @Model.GivenName<span class="caret"></span>
                    }
                    else
                    {
                        @Model.Email<span class="caret"></span>
                    }

                </a>

                <ul class="dropdown-menu">
                    @if (User.Identity.Name != "admin@admin.se")
                    {
                        <li>@Html.ActionLink("Change Profile", "ChangeProfile", "ApplicationUser", routeValues: null, htmlAttributes: new { title = "ApplicationUser" })</li>
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li role="separator" class="divider"></li>
                    }
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>

            </li>
        </ul>
    }
}
else
{
    @*<ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
