@model IEnumerable<Project_LMS.Models.ApplicationUser>

@{
                /**/

                ViewBag.Title = "Index";
}

<style>
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 0px 0px;
    }
</style>

<h2>Teachers</h2>

@using (Html.BeginForm("Index", "ApplicationUser", FormMethod.Get))
{
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" class="btn btn-warning" />
}

<p>
    @Html.ActionLink("Register a new teacher", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>

@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.GivenName)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-md-5"></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Email != "admin@admin.se")
            {
                <tr>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.GivenName)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.FamilyName)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="col-md-5">
                        <div class="btn-group-sm">

                            <a href="@Url.Action("Edit", "ApplicationUser", new { id = item.Id })" class="btn btn-primary">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>
                                    <strong>Edit</strong>
                                </span>
                            </a>
                            <a href="@Url.Action("Details", "ApplicationUser", new { id = item.Id })" class="btn btn-info">
                                <i class="glyphicon glyphicon-list"></i>
                                <span>
                                    <strong>Details</strong>
                                </span>
                            </a>
                            @if (item.UserName != User.Identity.Name)
                            {
                                <a href="@Url.Action("Delete", "ApplicationUser", new { id = item.Id })" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-erase"></i>
                                    <span>
                                        <strong>Delete</strong>
                                    </span>
                                </a>
                            }
                        </div>
                    </td>
                </tr>
            }

        }

    </table>
}
else
{
    <h3 style="color:crimson">No teacher found!</h3>
}