@model IEnumerable<Project_LMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Teachers</h2>

@using (Html.BeginForm("Index", "ApplicationUser", FormMethod.Get))
{
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" class="btn btn-warning" />
}

<p>
    @Html.ActionLink("Register a new teacher", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@Url.Action("Edit", "ApplicationUser", new { id = item.Id })" class="btn btn-primary">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Edit</strong>
                    </span>
                </a>
                <a href="@Url.Action("Details", "ApplicationUser", new { id = item.Id })" class="btn btn-info">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Details</strong>
                    </span>
                </a>
                <a href="@Url.Action("Delete", "ApplicationUser", new { id = item.Id })" class="btn btn-danger">
                    <i class="icon-pencil icon-white"></i>
                    <span>
                        <strong>Delete</strong>
                    </span>
                </a>
            </td>
        </tr>
    }

</table>
