@model Project_LMS.Models.Message

<div class="modal-header modal-header-confirm">
    <h4 class="modal-title ng-binding ">
        <span class="text-align-last:center">Class Message Board</span>
        @*<a title="Close"><i ng-click="CloseModal()" class="modal-close-btn glyphicon glyphicon-remove icon-arrow-right pull-right"></i></a>*@
    </h4>
</div>


@Html.Action("ShowCourseMessageBoardMessages", "Messages", new { id = Model.MessageBoxNumber })

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.isPublic)
        @Html.HiddenFor(model => model.isRead)
        @Html.HiddenFor(model => model.MessageBoxNumber)
        @Html.HiddenFor(model => model.Topic)
        @Html.HiddenFor(model => model.SentFrom)
        @Html.HiddenFor(model => model.SentFromFullName)
        @Html.HiddenFor(model => model.SentTo)
        @Html.HiddenFor(model => model.SentToFullName)

        <div class="form-group">
            @if (ViewBag.isEmpty == "empty")
            {
                <h5 style="color:crimson">&nbsp&nbsp&nbsp&nbsp&nbspYou are not allowed to post empty message!</h5>
            }
            @Html.LabelFor(model => model.Msg, "Leave your message:", htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-4" })
            <div class="col-md-offset-1 col-md-10">
                @Html.EditorFor(model => model.Msg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Msg, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Post" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
}

