@model Project_LMS.Models.Activity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete activity</h2>

<h3>Are you sure you want to delete this @Html.DisplayFor(model => model.ActivityType.Type) ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.ActivityName) </dt>
        <dd>@Html.DisplayFor(model => model.ActivityName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Start)</dt>
        <dd>@Html.DisplayFor(model => model.Start)</dd>

        <dt>@Html.DisplayNameFor(model => model.End)</dt>
        <dd>@Html.DisplayFor(model => model.End) </dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>

    @if (ViewBag.VerifyComfirmed == "Yes")
    {
        if (ViewBag.IsEmpty == "No")
        {
            <h3 style="color:red">Warning! There are some documents stored in this activity, those document will also be deleted while you delete this activity!</h3>
        }
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        }
    }
    else if (ViewBag.VerifyComfirmed == "No")
    {
        if (ViewBag.IsEmpty == "No")
        {
            <h3 style="color:red">Warning! There are some documents stored in this activity, those document will also be deleted while you delete this activity!</h3>
            <div>
                <button onclick="OpenDialog()" class="btn btn-primary">
                    Verify Your Identity First Please!
                </button>
            </div>

            <div id="Dialog-Box">
                <p>Email:</p>
                <input type="text" autocomplete="nope" id="Dialog-Email" />
                <p>Password:</p>
                <input type="text" onfocus="this.type='password'" autocomplete="new-password" id="Dialog-Password" />
                <br />
                <input type="submit" onclick="verify()" value="verify" class="btn btn-primary" />
            </div>

            <h6 id="currentActivityId" style="display:none">@Model.ActivityId</h6>
        }
        else
        {
            using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </div>
            }
        }
    }
    <br />
    @Html.ActionLink("Back to Modules", "Edit", "Modules", new { id = Model.ModuleId }, new { @class = "btn btn-primary btn-large" })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(".ui-widget-overlay").attr('style', 'background-color: #000; opacity:1; z-index:1000;');

        $('#Dialog-Box').dialog({
            autoOpen: false,
            height: 300,
            width: 300,
            modal: true
        });

        function OpenDialog() {
            $('#Dialog-Email').val();
            $('#Dialog-Password').val();
            $('#Dialog-Box').dialog('open');
        }

        function verify() {
            $('#Dialog-Box').hide;
        $.ajax({
            url: '@Url.Action("VerifyUserActivity", "Account")',
            type: 'POST',
            data: {
                email: $('#Dialog-Email').val(),
                password: $('#Dialog-Password').val(),
                activityid: $("h6").text()
            },
            success: function (msg) {
                window.location.href
                    = msg.redirectUrl;
            },
            error: function (msg) {
            }
        });

    }
    </script>
}
