@model IEnumerable<Project_LMS.Models.Document>

@if (Model.Count() == 0)
{
    <h3 style="color:crimson">There are no documents associated with this activity</h3>
}
else
{
    <h3 style="color:crimson">Activity Documents</h3>
    <table class="table table-bordered" id="table-actdoc-pc">
        <tr>
            <th class="hidden-xs hidden-sm">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>

            <th class="col-sm-4"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="hidden-xs hidden-sm col-md-6">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-sm-4 col-md-2">
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>

                <td class="col-sm-4">
                    <a href="@Url.Action("DownLoadFile", "Documents", new { id = item.DocumentId })" class="btn btn-success">
                        <i class="glyphicon glyphicon-download"></i>
                        <span>
                            <strong>Open</strong>
                        </span>
                    </a>
                    @*<a href="@Url.Action("ModuleDocumentDetails", "Documents", new { id = item.DocumentId })" class="btn btn-info">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>
                                <strong>Details</strong>
                            </span>
                        </a>*@
                </td>
            </tr>
        }

    </table>

    <table class="table table-bordered" id="table-actdoc-mobile" style="display:none">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-4 col-md-2">
                    @Html.DisplayFor(modelItem => item.DocumentName)
                    <a href="@Url.Action("DownLoadFile", "Documents", new { id = item.DocumentId })" class="btn btn-success">
                        <i class="glyphicon glyphicon-download"></i>
                        <span>
                            <strong>Open</strong>
                        </span>
                    </a>
                </td>
            </tr>
        }

    </table>
}





