@model IEnumerable<Project_LMS.Models.Document>

<h3 style="color:crimson">Module Documents</h3>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentName)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentName)
            </td>

            <td>
                <a href="@Url.Action("DownLoadFile", "Documents", new { id = item.DocumentId })" class="btn btn-success">
                    <i class="glyphicon glyphicon-download"></i>
                    <span>
                        <strong>Download</strong>
                    </span>
                </a>
                <a href="@Url.Action("ModuleDocumentDetails", "Documents", new { id = item.DocumentId })" class="btn btn-info">
                    <i class="glyphicon glyphicon-list"></i>
                    <span>
                        <strong>Details</strong>
                    </span>
                </a>
            </td>
        </tr>
    }

</table>




