@model IEnumerable<Project_LMS.Models.Module>

@{
    ViewBag.Title = "StudentStartPage";
}

@Html.Action("ShowStudentList", "Nav")

<h2>@ViewBag.CourseName</h2>
<h4>@ViewBag.TimePeriod</h4>

<br />
<br />

<div class="container">
    <div class="row">
        @{ int i = 1;}
        @foreach (var mod in Model)
        {
            <div>
                @{ string target = "#fm" + i;
                    string id = "fm" + i;
                    i++;
                }
                <div>
                    <a data-target=@target class="tabs" data-group="footer-blocks" data-toggle="collapse">Module: @mod.Name</a>
                </div>
                <div id=@id class="collapse show-in-md">
                    @Html.Raw(mod.Name + " info");
                </div>
            </div>
            <br />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $("a.tabs").click(function (e) {
            e.preventDefault();
            var $groupName = $(this).data("group");
            var $this = $(this);
            $("[data-group='" + $groupName + "']:not([data-target='" + $this.data("target") + "'])").each(function () {
                $($(this).data("target")).removeClass("in").addClass('collapse');
            });
        });

    </script>
}
