@model IEnumerable<Project_LMS.Models.Module>

@{
    ViewBag.Title = "StudentStartPage";
}

@Html.Action("ShowStudentList", "Nav")

<h2>@ViewBag.CourseName</h2>
<h4>@ViewBag.TimePeriod</h4>
<br />
<a href="#CourseDocument"> Jump To Course Document</a>
<br>
<a href="#Modules" id="abc"> Jump To Modules</a>
<br />
<div class="row">
    <div id="schedule_button" class="col-sm-3 col-xs-12">
        @Html.ActionLink("View Schedule", "StudentSchedule", new { id = ViewBag.CourseId }, new { @class = "btn btn-primary btn-large" })
    </div>
    @{
        var courseMsgBoardId = "course" + ViewBag.CourseId;
    }
    <div class="col-sm-5 col-xs-12">
        <a href="@Url.Action("CourseMessageBoard", "Messages", new { id = courseMsgBoardId })" id="modal-link-herf" class="btn btn-primary modal-link"><i class="glyphicon glyphicon-move"></i> <span><strong>Open Course Message Board</strong></span></a>
    </div>
    <div class="col-sm-3 col-xs-12">
        @Html.ActionLink("View Classmate", "ShowStudentListInMobileView", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
<div id="homeworkView">
    @Html.Action("StudentUpcomingHomeWork", "StudentCourses", new { id = ViewBag.CourseId })
</div>
<br />
@Html.Action("StudentUpcomingActivities", "StudentCourses", new { id = ViewBag.CourseId })
<br />
<h3 style="color:crimson">Modules</h3>
<br />

@if (Model.Count() != 0)
{
    <div class="container" id="Modules">
        <div class="row">
            @{ int i = 1;}
            @{ int a = 1;}
            @foreach (var mod in Model)
            {
                <div>
                    @{ string target = "#fm" + i;
                        string id = "fm" + i;
                        i++;
                    }
                    <div>
                        <a data-target=@target class="tabs" data-group="footer-blocks" data-toggle="collapse">@mod.StartDate.ToString("yyyy-MM-dd") - @mod.EndDate.ToString("yyyy-MM-dd") : @mod.Name</a>
                    </div>
                    <div id=@id class="collapse show-in-md">
                        <div class="well">
                            <section style="color:blue; font-weight:bold; max-width: 800px; word-wrap:break-word;word-break:break-all">
                                <p> Module Start Date: </p>
                                <p style="font-weight:normal"> @mod.StartDate.Date.ToString("yyyy-MM-dd")</p>
                                <p> Module End Date: </p>
                                <p style="font-weight:normal"> @mod.EndDate.Date.ToString("yyyy-MM-dd") </p>
                                <p> Module Description: </p>
                                <p style="font-weight:normal"> @mod.Description</p>
                            </section>

                            <hr />
                            @if (mod.Activities.Count() > 0)
                            {<h3 style="color:crimson">Activities</h3>}
                            else
                            {<h3 style="color:crimson">No activities registered for this module</h3>}
                            <hr />


                            @foreach (var activity in mod.Activities.OrderBy(b => b.Start).ThenBy(b => b.End))
                            {
                                <div>
                                    @{ string atarget = "#am" + a;
                                        string aid = "am" + a;
                                        a++;
                                    }
                                    <div style="width:80%">
                                        @if (activity.ActivityType.Type == "Homework")
                                        {
                                            <a data-target=@atarget class="activitytabs" data-group="footer-blocks" data-toggle="collapse"><i class="glyphicon glyphicon-home"></i> @activity.Start.ToString("yyyy-MM-dd HH:mm:ss") - @activity.End.ToString("yyyy-MM-dd HH:mm:ss") : @activity.ActivityName</a>
                                        }
                                        else
                                        {
                                            <a data-target=@atarget class="activitytabs" data-group="footer-blocks" data-toggle="collapse">@activity.Start.ToString("yyyy-MM-dd HH:mm:ss") - @activity.End.ToString("yyyy-MM-dd HH:mm:ss") : @activity.ActivityName</a>
                                        }
                                    </div>
                                    <div id=@aid class="collapse show-in-md well " style="width:80%; background-color: #f5c6ff">
                                        <section style="color:blue; font-weight:bold; max-width: 800px; word-wrap:break-word;word-break:break-all">
                                            <p style="font-weight:normal"> @activity.Description</p>
                                        </section>
                                        <div>
                                            @Html.Action("StudentActivityFile", "StudentCourses", new { activityId = activity.ActivityId })
                                        </div>
                                        @if (activity.ActivityType.Type == "Homework")
                                        {
                                            <div>
                                                @Html.Action("StudentHomeworkFile", "StudentCourses", new { activityId = activity.ActivityId })
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            <div>
                                @Html.Action("StudentModuleFile", "StudentCourses", new { moduleId = mod.ModuleId })
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
}
else
{
    <h3 style="color:crimson">No course module found!</h3>
}

<br />
<div id="CourseDocument">
    @Html.Action("StudentCourseFile", "StudentCourses", new { id = ViewBag.CourseId })
</div>
<br />

@*<div id="CourseMessageBoard">
        @Html.Action("CourseMessageBoard", "Messages", new { id = courseMsgBoardId })
    </div>
    <br />*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $("a.tabs").click(function (e) {
            e.preventDefault();
            var $groupName = $(this).data("group");
            var $this = $(this);
            $("[data-group='" + $groupName + "']:not([data-target='" + $this.data("target") + "'])").each(function () {
                $($(this).data("target")).removeClass("in").addClass('collapse');
            });
        });

        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');

            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });

        $(function openModal() {
            var content = '@ViewBag.MS';
            if (content == "yes") {
                document.getElementById("modal-link-herf").click();
            }
        });
        window.onload = openModal;

    </script>
}

